
{% load static %}

<link rel="stylesheet" href="{% static 'app/styles.css' %}">
<script src="{% static 'app/scripts.js' %}" type="text/javascript"></script>
<script src="{% static 'app/jquery.js' %}" type="text/javascript"></script>

<script>
    let conversationGuid = "{{conversation_guid}}"
</script>


<div>
    <div class = "nav-container" id = "nav-container">
        <div class = "nav" id = "nav">
            <div class = "logo-container">
                <img id="menu-icon-mobile" class="logo" src="{%static 'app/logo.png'%}" />
            </div>
            <div class = "title">Tender PowerTools</div>
            <div class = "mode-switch">Dark Mode</div>
        </div>
    </div>
    <div class = "content-wrapper">
<div class = content-container>
    <div class = "conversation-container">
        <div class = "conversation" id = "conversation">

        </div>

    </div>
        <div class = "prompt-container" id = "prompt-container">
            <input type = "text" placeholder = "System Prompt" id = "system-prompt" class ="system-prompt" value = "you are charles dowding" >
            <input type = "text" placeholder = "User Message" id = "user-prompt" class = "user-prompt" onkeydown="handleKeyDown(event)">
            <button onclick = "sendMessage()" id = "send-button"> Send</button>
        </div>
        

    </div>
    </div>
    
    
</div>